.styledClass {
   font-size: 6px;
   width: 20px;
   height: 20px;
   margin-left: 10px;
   border-radius: 50%;
   border: 1px solid #ffffff;
   color: #fff;
   transition: 0.1s linear;
   padding: 2px;
}

.styledClass:hover {
   background-color: #fff;
   color: #2f343f;
}
